<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
  <div class="page-content" id="root"></div>

  <script src="javascripts/common.bundle.js"></script>
  <script src="javascripts/mainapp.bundle.js"></script>
</body>

</html>